body {
	background-image: url(https://c.wallhere.com/photos/e5/f9/Sun_universe_abstract-37067.jpg!d);
	background-size: 100%;
 }

 div{
 	padding: 50px;
 	background-color: Khaki;
 	width: 40%;
 	margin-top: 100px;
 	padding: 30px;
 	border-radius: 20px;
 	box-shadow: 18px 10px 49px 3px rgba(0, 0, 0, 0.75);
 	text-decoration: ;
 }

