body{
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3b/Mercury_in_color_-_Prockter07.jpg");
	background-size: 75%;
	background-position-x: 100px;
	background-position-y: -40px;
}

h1{
	color: white;
}

p{
	color: white;
}


img{
	margin-left: 500px;
}