p{
	color: blue;
	text-align:center;
	font-size: 30px;
	font-family: cursive;
}

h1{
	font-family: fantasy;
	color: white;
}

body{
	background-image: url("planeti.png");
	background-size: 100%;
	background-position-y: 50px;
	background-color: black;
	background-repeat: no-repeat;
}