

h1{
	color: white;
	background-image: url("./vesolje.jpg");
	border-radius: 20px;
	height: 50px;
	margin-right: 700px;
}

.bla{
	border: double;
	border-width: 20px;
	border-radius: 20px;
	display: inline-block;
	margin-right: 20px;
	float: left;
}

p{

	margin-left: 200px;
	margin-right: 300px;
	margin-top: 50px;
}

.gumb{
	color:black;
	margin-top: 230px;
}

video{
	height: 100%;
	width: 60%;
}

body{
	back
}

.gif{
	height: 100px;
	width: 100px;
	margin-left: 60%;
}

.button{
	height: 200px;
	width: 200px;
}