   	nav ul {
	list-style: none;
	margin: 0;
	padding: 0;

}
nav li {
		display: inline-block;
}
	#mehika {
		border: black 2px solid;
		width: 200px;
	}
	nav li {
		display: inline-block;
}
	#niz {
		border: black 2px solid;
		width: 200px;
	}
	#texas {
		border: black 2px solid;
		width: 200px;
	}
	#q