.mehika {
	border: solid black;
	width: 250px;
	float: left;
	margin-left: 12%;
}
.sredina {
	text-align: center;

}
#a {
	list-style-type: none;
}
div {
	
}
.q {
	width: 100%;
}
body {
	background-color: red;
}